@media print {
    body, html {
        display: none !important;
    }
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body.enhanced-protection::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: none;
    z-index: 999999;
}

video.protected-video {
    filter: brightness(1.01);
}